{% extends "master.html" %}
{% block title %}Afiliaciones Pendientes{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2>Afiliaciones Pendientes</h2>
    <h4>Personas Naturales</h4>
    <ul class="list-group mb-4">
        {% for af in pendientes_natural %}
        <li class="list-group-item">
            {{ af.nombre_comercial_o_nombres }} - {{ af.correo_electronico }}
            <a href="{% url 'detalle_afiliacion' af.pk %}" class="btn btn-sm btn-info float-end">Ver Detalle</a>
        </li>
        {% empty %}
        <li class="list-group-item">No hay afiliaciones naturales pendientes.</li>
        {% endfor %}
    </ul>
    <h4>Personas Jurídicas</h4>
    <ul class="list-group">
        {% for af in pendientes_juridica %}
        <li class="list-group-item">
            {{ af.razon_social }} - {{ af.correo_electronico }}
            <a href="{% url 'detalle_afiliacion' af.pk %}" class="btn btn-sm btn-info float-end">Ver Detalle</a>
        </li>
        {% empty %}
        <li class="list-group-item">No hay afiliaciones jurídicas pendientes.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
