{% extends "master.html" %}
{% load static %}
{% block title %}{{ accion|default:"Crear" }} Servicio{% endblock %}
{% block content %}
<div class="convenio-card">
    <h1>{{ accion|default:"Crear" }} Servicio</h1>
    <div class="convenio-divider"></div>
    <form method="post" enctype="multipart/form-data" id="registro-form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form|default_if_none:"<div class='alert alert-danger'>No se encontró el formulario.</div>" }}

        <button type="submit" class="convenio-btn w-100">{{ accion|default:"Crear" }}</button>
        <a href="{% url 'admin_servicios_list' %}" class="btn convenio-cancel w-100 mt-2">Cancelar</a>
    </form>
</div>
{% endblock %}


